{% extends "base.html" %}
{% load static %}

{% block content %}
    <br>
    <br>
<div class="row">
    <div class="col text-center">
        <h4>Complimentary shipping on orders over £{{ free_delivery_threshold }}</h4>
    </div>
</div>
<br>
<div class="container mb-2">
    <div class="row">
        
        <div class="col text-center">
            <h3>Your Cart</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if cart_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scop="col"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                {% for item in cart_items %}
                <p>{{ item.product.name }}</p>
                {% endfor %}
            {% else %}
                <p class="lead mb-5">Your cart is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Go back</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}