{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid welcome">
        <div class="col-md-5 mx-auto mt-4">
                <div class="container-fluid">
                        <div class="row">
                                <div class="col text-center">
                                        <h3>Welcome</h3>
                                </div>
                                <hr class="w60">
                        </div>
                </div>
        </div>
</div>

<div class="container-fluid p-0">
        <div class="row">
                <a href="{% url 'products' %}"><img class="d-flex bg-cover mh-50 col-lg-12 img-fluid" src="{% static 'img/banner.jpg' %}" alt="Banner"></a>
        </div>
</div>

{% endblock %}