{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- Top level title -->

<div class="overlay"></div>
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-5 mx-auto">
            <h3 class="logo-font mb-4">Add FAQ</h3>
            <hr class="w60">
        </div>
    </div>
    
<!-- Form for adding FAQ  -->

    <div class="row">
        <div class="col-12 col-md-5 mx-auto">
                <form method="POST" action="{% url 'add_faq' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-danger float-right" href="{% url 'profile' %}">Cancel</a>
                        <button class="btn btn-general float-right" type="submit">Add FAQ</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}