{% extends "base.html" %}
{% load static %}

{% block content %}

<br>
<div class="container-fluid">
        <div class="row">

                <div class="col text-center">
                        <h3>FAQ</h3>
                </div>
                <hr class="w60">
        </div>
</div>
<br><br>
{% for subject in subjects %}
<div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading{{ subject.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse{{ subject.id }}" aria-expanded="false"
                                aria-controls="flush-collapse{{ subject.id }}">{{ subject }}
                </h2>
                </button>
                <!-- {% if request.user.is_superuser %}
                {% endif %} -->
                <!-- <div class="d-flex align-items-end flex-column">
                        <div>
                                <br>
                                <a class="btn-general btn btn-info" href="">Q&A</a>
                                <a class="btn-danger btn btn-info" href="">Delete Q&A</a>
                        </div>
                </div> -->

                {% if request.user.is_superuser %}
                <div id="flush-collapse{{ subject.id}}" class="accordion-collapse collapse"
                        aria-labelledby="flush-heading{{ subject.id }}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                                {% for question in questions %}
                                        {% if subject == question.subject %}
                                                <ul><strong>{{ question.question }}</strong></ul>
                                                <ul>{{ question.answer }}</ul>
                                                <br>
                                                <div class="d-flex flex-row-reverse">
                                                        <a class="btn-danger btn btn-info p-2 mx-1"
                                                                href="{% url 'delete_faq' question.id %}">Delete Q&A</a>
                                                        <a class="btn-general btn btn-info p-2 mx-1" href="">Edit Q&A</a>
                                                </div>
                                        {% endif %}
                                {% endfor %}
                        </div>
                </div>
                {% else %}
                <div id="flush-collapse{{ subject.id}}" class="accordion-collapse collapse"
                        aria-labelledby="flush-heading{{ subject.id }}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                                {% for question in questions %}
                                        {% if subject == question.subject %}
                                                <ul><strong>{{ question.question }}</strong></ul>
                                                <ul>{{ question.answer }}</ul>
                                        {% endif %}
                                {% endfor %}
                        </div>
                </div>
                {% endif %}
        </div>
        </div>
</div>
{% endfor %}





{% endblock %}