h1 {
    font-weight: bold;
}

.added {
    background-color: red; 
    animation: grow 1300ms ease infinite;
}

.footer_base {
    background-color: #cfcdc9;
}

.nav_base {
    background-color: #cfcdc9;
}

.update-link {
    cursor: pointer;
}

.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}