html {
    height: 100%;
}

body {
    font-family: "Lora", serif;
    background-size: cover;
    margin:0;
    padding:0;
    height: 100vh;
}

h1 {
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
}

/* Nav and footer styling */

.nav_base {
    background-color: #529984;
}

.nav-link {
    color: white;
}

.page-head {
    color: white;
}

.footer_base {
    background-color: #529984;
    position: sticky;
    top: 100vh;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social {
    color: white;
}

.update-link {
    cursor: pointer;
}

.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.cart-table-head {
    background-color: #dfdfdf;
}

.btn-secondary {
    background-color: #0babcf;
    border-color: #7cad9f;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    background-color: #54776d;
    box-shadow: none;
}

.search-btn {
    color: #6c757d;
    border-color: #6c757d;
}

.search-btn:hover {
    border-color: #6c757d;
    background-color: #54776d;
    color: white;
}


.btn-general {
    background-color: #0babcf;
    border-color: #7cad9f;
    color: white;
}

.btn-general:hover {
    background-color: #54776d;
    border-color: #54776d;
    color: white;
}

.add-to-cart {
    background-color: #0babcf;
    border-color: #7cad9f;
}

.add-to-cart:hover {
    background-color: #54776d;
    border-color: #54776d;
}

.nav-link:hover {
    color: white;
    transform: scale(1.2);
}

.nav-link:focus {
    color: white;
    transform: scale(1.2);
}

.social:focus {
    color: white;
}

.authy-text-link {
    text-decoration: underline;
    color: #0cbd8b;
}
