.add-to-cart {
    font-size: larger;
}

h1 {
    font-weight: bold;
}

.added {
    font-weight: bold;
}

.footer_base {
    background-color: #cfcdc9;
}

.nav_base {
    background-color: #cfcdc9;
}

.update-link {
    cursor: pointer;
}