<div class="toast custom-toast rounded-0 border-top-0" data-autohide="true">
    <div class="w-100 toast-capper bg-error"></div>
    <div class="toast-header bg-white text-dark">
        <i class="fas fa-shopping-bag mr-auto"></i>
        <strong class="mr-auto">Error</strong>
        <button class="mb-1 text-danger position-absolute top-0 end-0 close border-0 bg-transparent" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col toast-msg text-center">
                <p class="toast-highlighted font-weight-bolder">{{ message }}</p>
            </div>
        </div>
    </div>
</div>